.centerBox{
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
}

.grid-container{
    color:white;

    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 1rem;

    background-color: rgb(233, 233, 233);  
    backdrop-filter: blur(5px);

    width: 90%;
    height: 50%;

    display: grid;
    grid-template-rows: 30fr 60fr;
}
/*Header*/
.grid-container .gridHeader{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 20fr 10fr 10fr 10fr 10fr 10fr ;

    height: 100%;

}

.grid-container .gridHeader h2{
    grid-row: 1;
    grid-column: 1/-1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container .gridHeader >div{
    display: flex;
    align-items: center;

    overflow: visible;
    font-size: 0.8rem;

    padding: 5px;
}
.grid-container .gridHeader .flop{
    grid-row: 2;
    grid-column: 3;
    cursor: pointer;
}
.grid-container .gridHeader .racisme{
    grid-row: 2;
    grid-column: 4;
    cursor: pointer;

}
.grid-container .gridHeader .nerd{
    grid-row: 2;
    grid-column: 5;
    cursor: pointer;

}
.grid-container .gridHeader .nbSessionVanne{
    grid-row: 2;
    grid-column: 6;
    cursor: pointer;
}
.grid-container .gridHeader .cervo{
    grid-row: 2;
    grid-column: 7;
    cursor: pointer;

}

/*Centre*/
.grid-container .ClassementGrid {
    overflow-y: auto;
    
}
.grid-container .ClassementGrid .prenom{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 20fr 10fr 10fr 10fr 10fr 10fr ;

}


