*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    color: black;

}

.hidden{
    display: none;
}

#root{
    width: 100vw;
    height: 100vh;
    /*
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    */
    color: black;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 8fr;
    background: rgb(211, 211, 211);

}

button{
    border: none;
    border-radius: 1rem;
    background: rgb(119, 119, 119);
    color: white;

}

select{
    border: none;
    border-radius: 1rem;
    background: rgb(201, 201, 201);
}
