.menu{
    grid-row: 1/-1;
    grid-column: 1/-1;
    
    background-color: rgb(211, 211, 211);
    z-index: 1;
    animation: AnimMenu 600ms ease-out forwards;
}

.reverseAnim{
    animation: AnimMenuInverse 600ms ease-in reverse forwards;
}

.menu .hamburger-btn.open{
    height: 29px;

}
.menu .hamburger-btn.open .hamburger-line:nth-child(1) {
    transform: rotate(-45deg) translate(-6px,6px)

}

.menu .hamburger-btn.open .hamburger-line:nth-child(2) {
    transform: rotate(45deg) translate(0px,0px)
}

/*Affichage dans menu*/

.menu .nameDudes{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menu .nameDudes ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu .nameDudes ul li{
    color: black;
}
.menu .nameDudes ul >li *:visited{
    color: black;
}

@keyframes AnimMenu{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes AnimMenuInverse{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}